<h2>Creación de usuario:</h2>

<form action="/users/register" method="POST">
    Name: <input type:"text" name:"name" id:"name" />
    LastName: <input type:"text" name:"last_name" id:"last_name" />
    Email: <input type:"email" name:"email" id:"email" />
    Password: <input type:"password" name:"password" id:"password" />
    <input type="submit" value="CREAR" />
</form>